body {
  font: {
    size: 16px;
    family: "Arial","Helvetica","微軟正黑體","sans-serif"
  }
  height: 100vh;
  background: {
    image: linear-gradient(135deg, #3e25ab 3%, #e050a2 100%);
    repeat: no-repeat;
  };
}